<form #f="ngForm" (submit)="onSubmit(f)">
  <div class="form-group">
    <label>Title</label>
    <input type="text" placeholder="full name" />
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" placeholder="full name" />
  </div>

  <div class="form-group">
    <label>Due Date</label>
    <input type="date" placeholder="full name" />
  </div>

  <div class="form-group">
    <div>Priority</div>

    <input id="label-high" type="checkbox" />
    <label for="label-high">high</label>
    <br />

    <input id="label-medium" type="checkbox" />
    <label for="label-medium">medium</label>
    <br />

    <input id="label-low" type="checkbox" />
    <label for="label-low">low</label>
    <br />
  </div>

  <div class="form-group">
    <div>Status</div>

    <input id="label-completed" type="checkbox" />
    <label for="label-completed">Completed</label>
    <br />

    <input id="label-progress" type="checkbox" />
    <label for="label-progress">progress</label>
    <br />

    <input id="label-todo" type="checkbox" />
    <label for="label-todo">to-do</label>
  </div>
</form>
