<div class="container">
  <h1>Todo List so far</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <span
            >ID <button (click)="sortAsc('id')">↑</button
            ><button (click)="sortDesc('id')">↓</button>
          </span>
        </th>
        <th scope="col">
          <span
            >Title

            <button (click)="sortAsc('title')">↑</button
            ><button (click)="sortDesc('title')">↓</button>
          </span>
        </th>
        <th scope="col">Description</th>
        <th scope="col">
          <span
            >Due date

            <button (click)="sortAsc('dueDate')">↑</button
            ><button (click)="sortDesc('dueDate')">↓</button>
          </span>
        </th>
        <th scope="col">
          <span
            >Status

            <button (click)="sortAsc('status')">↑</button
            ><button (click)="sortDesc('status')">↓</button>
          </span>
        </th>
        <th scope="col">
          <span
            >Priority

            <button (click)="sortAsc('priority')">↑</button
            ><button (click)="sortDesc('priority')">↓</button>
          </span>
        </th>
        <th scope="col">
          <span>Operation</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoItem of userTodoList">
        <td>{{ todoItem.id }}</td>
        <!--        <td>{{ todoItem.title }}</td>-->
        <td>
          <input
            type="text"
            placeholder="Title"
            name="title"
            value="{{ todoItem.title }}"
            [(ngModel)]="todoItem.title"
            (change)="onChange($event, todoItem.id)"
          />
        </td>

        <td>
          <input
            type="text"
            name="description"
            placeholder="description"
            value="{{ todoItem.description }}"
            [(ngModel)]="todoItem.description"
            (change)="onChange($event, todoItem.id)"
          />
        </td>

        <td>
          <input
            type="date"
            name="date"
            value="{{ todoItem.dueDate }}"
            [(ngModel)]="todoItem.dueDate"
            (change)="onChange($event, todoItem.id)"
          />
        </td>
        <td>
          <select
            name="status"
            id="status"
            value="{{ todoItem.status }}"
            [(ngModel)]="todoItem.status"
            (change)="onChange($event, todoItem.id)"
          >
            <option value="inProgress">Progress</option>
            <option value="todo">Todo</option>
            <option value="done">Done</option>
          </select>
        </td>
        <td>
          <select
            name="priority"
            id="priority"
            value="{{ todoItem.priority }}"
            [(ngModel)]="todoItem.priority"
            (change)="onChange($event, todoItem.id)"
          >
            <option name="" value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </td>
        <td>
          <button (click)="deleteTask(todoItem.id)">X</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <!--        <td>{{ todoItem.title }}</td>-->
        <td>
          <input
            type="text"
            placeholder="Title"
            name="title"
            value="{{ newData.title }}"
            [(ngModel)]="newData.title"
            (change)="onChange($event, newData.id)"
          />
        </td>

        <td>
          <input
            type="text"
            name="description"
            placeholder="description"
            value="{{ newData.description }}"
            [(ngModel)]="newData.description"
            (change)="onChange($event, newData.id)"
          />
        </td>

        <td>
          <input
            type="date"
            name="date"
            value="{{ newData.dueDate }}"
            [(ngModel)]="newData.dueDate"
            (change)="onChange($event, newData.id)"
          />
        </td>
        <td>
          <select
            name="status"
            id="status"
            value="{{ newData.status }}"
            [(ngModel)]="newData.status"
            (change)="onChange($event, newData.id)"
          >
            <option value="inProgress">Progress</option>
            <option value="todo">Todo</option>
            <option value="done">Done</option>
          </select>
        </td>
        <td>
          <select
            name="priority"
            id="priority"
            value="{{ newData.priority }}"
            [(ngModel)]="newData.priority"
            (change)="onChange($event, newData.id)"
          >
            <option name="" value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
        </td>
        <td>
          <button (click)="addTask()">+</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
